<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 应用Mapper层接口映射文件 -->
<mapper namespace="com.zhj.openapi.mapper.ApplicationMapper">

	<!-- 添加应用 -->
	<insert id="insertApplication" parameterType="com.zhj.openapi.domain.Application">
		INSERT INTO
			app_info (corpName, appName, appKey, appSecret, redirectUrl, `limit`, description, cusId, state)
			VALUES (#{corpName}, #{appName}, #{appKey}, #{appSecret}, #{redirectUrl}, #{limit}, #{description}, #{cusId}, #{state});
	</insert>

	<!-- 删除应用 -->
	<delete id="deleteApplication">
		delete from app_info
		where
		<foreach collection="array" separator="or" item="id">
			id = #{id}
		</foreach>
	</delete>

	<!-- 删除应用,根据客户ID -->
	<delete id="deleteApplicationByCustomerId">
		delete from app_info
		where
		<foreach collection="customerIds" separator="or" item="customerId">
			cusId = #{customerId}
		</foreach>
	</delete>

	<!-- 修改应用 -->
	<update id="updateApplication" parameterType="com.zhj.openapi.domain.Application">
		update app_info
		<set>
			<if test="null != corpName and '' != corpName">
				corpName = #{corpName},
			</if>

			<if test="null != appName and '' != appName">
				appName = #{appName},
			</if>

			<if test="null != appKey and '' != appKey">
				appKey = #{appKey},
			</if>

			<if test="null != appSecret and '' != appSecret">
				appSecret = #{appSecret},
			</if>

			<if test="null != redirectUrl and '' != redirectUrl">
				redirectUrl = #{redirectUrl},
			</if>

			<if test="null != limit">
				`limit` = #{limit},
			</if>

			<if test="null != description and '' != description">
				description = #{description},
			</if>

			<if test="null != cusId">
				cusId = #{cusId},
			</if>

			<if test="null != state">
				state = #{state},
			</if>

		</set>
		where id = #{id}
	</update>

	<!-- 查询全部应用 或 根据条件查询应用 -->
	<select id="selectApplication" resultType="com.zhj.openapi.domain.Application">
		SELECT
			id,
			corpName,
			appName,
			appKey,
			appSecret,
			redirectUrl,
			`limit`,
			description,
			cusId,
			state
		FROM
			app_info
		<where>
			<if test="null != appName and '' != appName">
				and appName like concat('%', #{appName}, '%')
			</if>
		</where>
	</select>

</mapper>